<h1>Editing List</h1>
<%= turbo_frame_tag(dom_id(@list)) do %>
  <%= render 'form', list: @list %>
  <div class="mt-5">
    <%= link_to 'Share your list with someone', new_list_sharing_path(@list), class: "btn", target: "_top" %>
  </div>
<% end %>
