<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, autofocus: true, placeholder: "E-mail", autocomplete: "email", required: true %>
    <%= f.submit "Log in", class: "btn" %>
  </div>
<% end %>
<p class="mt-4">
  or <%= link_to "Sign up", new_registration_path(resource_name) %>
</p>
