<%= turbo_frame_tag(dom_id(item)) do %>
  <div>
    <%= item.name %> |
    <%= link_to 'Edit', edit_list_item_path(item.list, item) %> •
    <%= link_to 'Destroy', list_item_path(item.list, item), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
